##  1. Fundamentals

### python Syntax

In [1]:
# define main function to print out something
def main(): #Whitespace and indentation
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

# call function main 
main()

1
2
3
4
5
6
7
8
9

In [2]:
a = True
b = False
c= True
if (a == True) and (b == False) and (c == True):
    print("Continuation of statements")

Continuation of statements

In [3]:
import keyword #Keywords

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
s = 'This is a string' # String Literals
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

### Python variables

In [5]:
message = 'Hello, World!' # What is a variable in Python 
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

### Python String

In [6]:
message = 'This is a string in Python'
message_1 = "This is also a string"
print(message,message_1)

This is a string in Python This is also a string

In [7]:
message = "It's a string"
print(message)

It's a string

In [8]:
message = '"Beautiful is better than ugly.". Said Tim Peters'
print(message)

"Beautiful is better than ugly.". Said Tim Peters

In [9]:
message = 'It\'s also a valid string'
print(message)

It's also a valid string

In [10]:
message = r'C:\python\bin'
print(message)

C:\python\bin

In [11]:
#Creating multiline strings

help_message = '''   
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [12]:
#Using variables in Python strings with the f-strings
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [13]:
#Concatenating Python strings
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [14]:
#To concatenate two string variables, you use the operator +:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [15]:
#Accessing string elements
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

In [16]:
#If you use a negative index, Python returns the character starting from the end of the string. For example:
str = "Python String"
print(str[-1])  # g
print(str[-2])  # n

g
n

In [17]:
#Getting the length of a string
str = "Python String"
str_len = len(str)
print(str_len)

13

In [18]:
#Slicing strings
str = "Python String"
print(str[0:2])

Py

In [19]:
#Python strings are immutable
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

In [20]:
#When want to modify a string, you need to create a new one from the existing string. For example:
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

Jython String

### Python Numbers

#### Integer

In [21]:

20 + 10

30

In [22]:
20 - 10

10

In [23]:
20 * 10

200

In [24]:
20 / 10

2.0

#### Floats

In [25]:
0.5 + 0.5

1.0

In [26]:
0.5 - 0.5

0.0

In [27]:
0.5 / 0.5

1.0

In [28]:
0.5 * 0.5

0.25

In [29]:
20 / 10

2.0

In [30]:
1 + 2.0

3.0

In [31]:
0.1 + 0.2

0.30000000000000004

#### Underscores in numbers

In [32]:
count = 10000000000
print(count)

10000000000

In [33]:
count = 10_000_000_000
print(count)

10000000000

### Python Boolean

In [34]:
#Introduction to Python Boolean data type
is_active = True
is_admin = False

In [35]:
20 > 10

True

In [36]:
20 < 10

False

In [37]:
'a' < 'b'

True

In [38]:
'a' > 'b'

False

In [39]:
#The bool() function
bool('Hi')

True

In [40]:
bool('')

False

In [41]:
bool(100)

True

In [42]:
bool(0)

False

### Python Constants

In [43]:
#To work around this, you use all capital letters to name a variable to indicate that the variable should be treated as a constant. For example:
FILE_SIZE_LIMIT = 2000

### Python Comments

#### Python block comments

In [44]:
# increase price by 5%
price = 1
price = price * 1.05
print(price)

1.05

In [45]:
salary = 1
salary = salary * 1.02   # increase salary by 2%
salary

1.02

#### 1) One-line docstrings

In [46]:
def quicksort():
    """ sort the list using quicksort algorithm"""
print(quicksort())

None

In [47]:
def increase(salary, percentage, rating):
    """ increase salary base on rating and percentage
    rating 1 - 2 no increase
    rating 3 - 4 increase 5%
    rating 4 - 6 increase 10%
    """

### Python Type Conversion

#### Introduction to type conversion in Python

In [48]:
value = input('Enter a value:')
print(value)

Enter a value:20
20

In [49]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

net_price = price * tax / 100

print(f'The net price is ${net_price}')

Enter the price ($):100
Enter the tax rate (%):25

TypeError: can't multiply sequence by non-int of type 'str'

In [50]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

net_price = int(price) * int(tax) / 100
print(f'The net price is ${net_price}')

Enter the price ($):100
Enter the tax rate (%):15
The net price is $15.0

#### Getting the type of a value

In [51]:
type(100)

int

In [52]:
type(2.0)

float

In [53]:
type('Hello')

str

In [54]:
type(True)

bool

## 2. Operators

#### 1. Python comparison operators

##### Less than operator (<)

In [55]:
10 < 20

True

In [56]:
30 < 20

False

In [57]:
'apple' < 'orange'

True

In [58]:
'banana' < 'apple'

False

In [59]:
x = 10
y = 20
x < y

True

In [60]:
x>y

False

##### Less than or equal to operator (<=)

In [61]:
20 <= 20

True

In [62]:
10 <= 20

True

In [63]:
30 <= 30

True

In [64]:
x = 10
y = 20
x <= y

True

In [65]:
x >= y

False

##### Greater than operator (>)

In [66]:
20 > 10

True

In [67]:
20 < 10

False

In [68]:
20 > 20

False

In [69]:
'apple' > 'orange'

False

In [70]:
'orange' > 'apple'

True

##### Greater Than or Equal To operator (>=)

In [71]:
20 >= 10

True

In [72]:
20 >= 20

True

In [73]:
10 >= 20

False

In [74]:
'apple' >= 'apple'

True

In [75]:
'apple' >= 'orange'

False

In [76]:
'orange' >= 'apple'

True

##### Equal To operator (==)

In [77]:
20 == 10

False

In [78]:
20 == 20

True

In [79]:
'apple' == 'apple'

True

In [80]:
'apple' == 'orange'

False

##### Not Equal To operator (!=)

In [81]:
20 != 20

False

In [82]:
20 != 10

True

In [83]:
'apple' != 'apple'

False

In [84]:
'apple' != 'orange'

True

#### 2. Python Logical Operators

##### and

In [85]:
price = 9.99
price > 9 and price < 10

True

In [86]:
price > 10 and price < 20

False

##### Or

In [87]:
price = 9.99
price > 10 or price < 2

False

##### Not

In [88]:
price = 9.99
not price > 10

True

In [89]:
not (price > 5 and price < 10)

False

## 3. Control Flow

### 1. Python if Statement

In [90]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

Enter your age:25
You're eligible to vote.

In [91]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
    print("Let's go and vote.")

Enter your age:25
You're eligible to vote.
Let's go and vote.

In [92]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
print("Let's go and vote.")

Enter your age:16
Let's go and vote.

### if…else statement

In [93]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

Enter your age:16
You're not eligible to vote.

### if…elif…else statement

In [94]:
age = input('Enter your age:')

# convert the string to int
your_age = int(age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

Enter your age:5
You'll pay $10 for the ticket

### 2. Ternary Operator

#### 1. Introduction to Python Ternary Operator

In [95]:
age = input('Enter your age:')

if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

print(f"The ticket price is {ticket_price}")

Enter your age:17
The ticket price is 5

In [96]:
age = input('Enter your age:')

ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is {ticket_price}")

Enter your age:25
The ticket price is 20

### 3. Python for Loop with Range

In [97]:
for index in range(5):
    print(index)

0
1
2
3
4

In [98]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [99]:
for index in range(1, 6):
    print(index)

1
2
3
4
5

In [100]:
for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

##### Using Python for loop to calculate the sum of a sequence

In [101]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

In [102]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

### 4. Python while

#### Introduction to the Python while statement

In [103]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

#### Using the Python while statement to build a simple command prompt program

In [104]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

>hello
Echo: hello
>hello
Echo: hello
>quit
Echo: quit

### 5. Python break

#### Introduction to the Python break statement

In [107]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [108]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

#### Using Python break statement with a while loop

In [109]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --
Enter your favorite color:red
Enter your favorite color:quit

### 6. Python continue

#### Using Python continue in a for loop example

In [110]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

#### Using Python continue in a while loop example

In [111]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

### 7. Python pass

#### Introduction to the Python pass statement

In [126]:
counter = 0
max = 10
for i in range(10):
    if counter < max:
        counter += 1
        pass
    else:
        pass

In [127]:
for i in range(1,100):
    pass

## 4. Functions

### 1. Python Functions

In [128]:
def sum(a, b):
    return a + b


total = sum(10,20)
print(total)

30

### 2. Python Default Parameters

#### Python default parameters example

In [129]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John', 'Hello')
print(greeting)

Hello John

In [130]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John')
print(greeting)

Hi John

#### Multiple default parameters

In [131]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [132]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [133]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there

### 3. Python Keyword Arguments

#### Introduction to the Python keyword arguments

In [134]:
def get_net_price(price, discount):
    return price * (1-discount)

In [135]:
net_price = get_net_price(100, 0.1)
print(net_price)

90.0

In [136]:
net_price = get_net_price(0.1, 100)
print(net_price)

-9.9

In [138]:
net_price = get_net_price(discount=0.1, price=100)
print(net_price)

90.0

In [139]:
net_price = get_net_price(price=100, discount=0.1)
print(net_price)

90.0

#### Keyword arguments and default parameters

In [141]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

In [142]:
net_price = get_net_price(100)
print(net_price)

102.0

In [143]:
net_price = get_net_price(100, 0.06)
print(net_price)

101.0

In [144]:
net_price = get_net_price(price=100, discount=0.06)
print(net_price)

101.0

In [145]:
net_price = get_net_price(100, discount=0.06)
print(net_price)

101.0

#### Python keyword argument requirements

In [146]:
net_price = get_net_price(100, tax=0.08, 0.06)

SyntaxError: positional argument follows keyword argument (1414197187.py, line 1)

In [147]:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

### 4.  Python Recursive Functions

#### Python recursive function examples

In [1]:
def count_down(start):
    """ Count down from a number  """
    print(start)

In [2]:
count_down(3)

3

In [1]:
def count_down(start):
    """ Count down from a number  """
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

#### 2) Using a recursive function to calculate the sum of a sequence

In [2]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [3]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

#### If you use the ternary operator, the sum() will be even more concise:

In [4]:
def sum(n):
    return n + sum(n-1) if n > 0 else 0


result = sum(100)
print(result)

5050

### 5. Python Lambda Expressions

#### Functions that accept a function example

In [7]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

In [8]:
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

In [9]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name) # John Doe

full_name = get_full_name('John', 'Doe', last_first)
print(full_name) #  Doe, John

John Doe
Doe, John

In [10]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

#### Functions that return a function example

In [11]:
def times(n):
    return lambda x: x * n

In [12]:
double = times(2)

In [13]:
result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [14]:
triple = times(3)

print(triple(2))  # 6
print(triple(3))  # 9

6
9

#### Python lambda in a loop

In [15]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [16]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

### 6. Python Function Docstrings

#### Introduction to the help() function

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

In [19]:
help(add)

Help on function add in module __main__:

add(a, b)
    Return the sum of two arguments

In [20]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

In [21]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

## 5. Lists

### 1. Lists

In [22]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

[1, 3, 2, 7, 9, 4]

In [23]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [24]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

#### Accessing elements in a list

In [25]:
numbers = [1, 3, 2, 7, 9, 4]

print(numbers[0])

1

In [26]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[1])

3

In [27]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

#### Modifying, adding, and removing elements

In [28]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [29]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)

[1, 30, 2, 7, 9, 4]

In [30]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

#### Adding elements to the list

In [31]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [32]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 100)

print(numbers)

[1, 3, 100, 2, 7, 9, 4]

#### Removing elements from a list

In [33]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

[3, 2, 7, 9, 4]

In [34]:
numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

4
[1, 3, 2, 7, 9]

In [35]:
numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

3
[1, 2, 7, 9, 4]

In [36]:
numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 4, 9]

### 2. Python Tuples

#### Defining a tuple

In [37]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [38]:
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow'

TypeError: 'tuple' object does not support item assignment

In [39]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [40]:
numbers = (3)
print(type(numbers))

<class 'int'>

#### Assigning a tuple

In [41]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

### 3. Python Sort List

#### Python List sort() method examples

In [42]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [43]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

#### Using the Python List sort() method to sort a list of numbers

In [44]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [45]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

#### Using the Python List sort() method to sort a list of tuples

In [46]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

In [47]:
def sort_key(company):
    return company[2]

In [48]:
companies.sort(key=sort_key, reverse=True)

In [49]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]


# define a sort key
def sort_key(company):
    return company[2]



# sort the companies by revenue
companies.sort(key=sort_key, reverse=True)

# show the sorted companies
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [50]:
lambda arguments: expression

In [51]:
def name(arguments):
    return expression

In [52]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

### 4. Python sorted

#### Python sorted() function examples

In [53]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [54]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)

print(sorted_guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [55]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

In [56]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores, reverse=True)

print(sorted_scores)

[9, 8, 7, 6, 5, 4]

### 5. Python List Slice

#### Python List slice examples

In [57]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [58]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

In [59]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)

['blue', 'indigo', 'violet']

In [60]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

print(sub_colors)

['red', 'yellow', 'blue', 'violet']

In [61]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [63]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)

['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [64]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements

In [65]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['red', 'orange', 'indigo', 'violet']

### 6. How to Unpack a List in Python

#### Unpacking and packing

In [66]:
colors = ['red', 'blue', 'green']
red, blue = colors

ValueError: too many values to unpack (expected 2)

In [67]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [68]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

### 7. How to Use a For Loop to Iterate over a List

#### Using Python for loop to iterate over a list

In [69]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [70]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [71]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [72]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

### 8. How to Find the Index of an Element in a List

In [73]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [74]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Osaka')
print(result

SyntaxError: unexpected EOF while parsing (3147430912.py, line 4)

In [75]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

### 9. Python Iterables

In [76]:
for index in range(3):
    print(index)

0
1
2

In [77]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [78]:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

In [79]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [80]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [81]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an excpetion
color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

In [82]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

### 10.How to Transform List Elements with Python map() Function

In [83]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [84]:
def double(bonus):
    return bonus * 2


bonuses = [100, 200, 300]

iterator = map(double, bonuses)

In [85]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)

In [86]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

#### More examples of Python map() function with lists

In [87]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [88]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

### 11. How to Filter List Elements in Python

#### Python filter() function

In [89]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [90]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [91]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

### 12.How to Use the Python Reduce() function to Reduce a List into a Single Value

#### Reducing a list

In [92]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [93]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [94]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

### 13. Python List Comprehensions

In [95]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [96]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [97]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [99]:
squares = [number**2 for number in numbers]
squares

[1, 4, 9, 16, 25]

#### Python list comprehension with if condition

In [102]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [103]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

## 6. Dictionaries

### 1. Python Dictionary

In [104]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [105]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person['ssn']

KeyError: 'ssn'

In [106]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [107]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

#### Modifying values in a key-value pair

In [108]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

#### Removing key-value pairs

In [109]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

#### Looping through a dictionary

In [110]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [111]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

#### Looping through all the keys in a dictionary

In [112]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [113]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

#### Looping through all the values in a dictionary

In [114]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

### 2. Python Dictionary Comprehension

#### Python dictionary comprehension examples

In [115]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [116]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

#### Using Python dictionary comprehension to filter a dictionary

In [117]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [118]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [121]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price
print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

## 7. Sets

### 1. Set

In [122]:
skills = {'Python programming','Databases', 'Software design'}

In [123]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [124]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Problem solving', 'Critical Thinking'}

In [125]:
characters = set('letter')
print(characters)

{'t', 'l', 'e', 'r'}

#### Getting sizes of a set

In [126]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

#### Checking if an element is in a set

In [127]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [128]:
ratings = {1, 2, 3, 4, 5}
rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set does not contain 6

#### Adding elements to a set

In [129]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Software design', 'Problem solving', 'Python programming'}

#### Removing an element from a set

In [130]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Problem solving', 'Python programming'}

In [131]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Java')

KeyError: 'Java'

In [132]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')

In [133]:
set.discard(element)

NameError: name 'element' is not defined

In [134]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

In [135]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Problem solving

In [136]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

#### Frozen a set

In [137]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

In [138]:
skills.add('Django')

AttributeError: 'frozenset' object has no attribute 'add'

In [139]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Problem solving
Software design
Python programming

In [140]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

0.Problem solving
1.Software design
2.Python programming

In [141]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Problem solving
2.Software design
3.Python programming

### 2. Python Set Comprehension

In [142]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

In [143]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

In [144]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

#### Python Set comprehension with an if clause example

In [145]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'pandas', 'django'}

### 3. Python Set Union

In [146]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

#### Union sets using the | operator

In [147]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Java', 'Python'}

#### The union() method vs. set union operator

In [148]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

In [149]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates | ranks

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [151]:
rates = {1, 2, 3}
ranks = {2, 3, 4}

ratings = rates | ranks
ratings

{1, 2, 3, 4}

### 4. Python Set Intersection

In [152]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'C++', 'Java'}

#### Using Python set intersection (&) operator to intersect two or more sets

In [153]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'C++', 'Java'}

#### Set intersection() method vs set intersection operator (&)

In [154]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [155]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores

print(numbers)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [156]:
numbers = {1, 2, 3}
scores = {2, 3, 4}

numbers = numbers & scores

print(numbers)

{2, 3}

### 5. Python Set Difference

In [157]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [158]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

#### Using Python set difference operator (-) to find the difference between sets

In [159]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

{'Python'}

In [160]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

#### The set difference() method vs set difference operator (-)

In [161]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [162]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores - numbers

print(new_scores)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [163]:
scores = {7, 8, 9}
numbers = {9, 10}
new_scores = scores - numbers

print(new_scores)

{8, 7}

### 6. Python Symmetric Difference

In [164]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

#### Using the symmetric difference operator(^) to find the symmetric difference of sets

In [165]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

#### The symmetric_difference() method vs symmetric difference operator (^)

In [166]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

In [167]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores ^ ratings

print(new_set)

TypeError: unsupported operand type(s) for ^: 'set' and 'list'

In [168]:
scores = {7, 8, 9}
ratings = {8, 9, 10}
new_set = scores ^ ratings

print(new_set)

{10, 7}

### 7. Python issubset

In [169]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [170]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [171]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

#### Using subset operators

In [172]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [173]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

### 8.Python issuperset

In [174]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [175]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

In [176]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

#### Using superset operators

In [177]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [179]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # False

True
False

### 9. Python Disjoint Sets

In [180]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [181]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [182]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

## 8. Exception handling

### 1. Python try…except

In [3]:
# get input net sales
print('Enter the net sales for')

previous = float(input('- Prior period:'))
current = float(input('- Current period:'))

# calculate the change in percentage
change = (current - previous) * 100 / previous

# show the result
if change > 0:
    result = f'Sales increase {abs(change)}%'
else:
    result = f'Sales decrease {abs(change)}%'

print(result)

Enter the net sales for
- Prior period:50
- Current period:70
Sales increase 40.0%

#### Handling exceptions

In [4]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
- Prior period:50
- Current period:70
Sales increase 40.0%

#### Catching specific exceptions

In [5]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
- Prior period:80
- Current period:90
Sales increase 12.5%

#### Handling multiple exceptions

In [6]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')

Enter the net sales for
- Prior period:60
- Current period:100
Sales increase 66.66666666666667%

In [7]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
- Prior period:45
- Current period:75
Sales increase 66.66666666666667%

### 2. Python try…except…finally

In [8]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

division by zero
Finishing up.

In [9]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

### 3. Python try…except…else

In [10]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2

In [11]:
def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'

In [12]:
def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print('Error! please enter a valid number.')
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

In [1]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Enter your height (meters):178
Enter your weight (kilograms):80
Your body mass index is 0.0
This is considered underweight!

#### Using Python try…except…else and finally example

In [ ]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

Enter a key to lookup:apple
10
Press Ctrl-C to exit.
Enter a key to lookup:Ctrl-C
Error! Ctrl-C does not exist.
Press Ctrl-C to exit.
Enter a key to lookup:fruit
Error! fruit does not exist.
Press Ctrl-C to exit.
Enter a key to lookup:banana
30
Press Ctrl-C to exit.

## 9. More on Python Loops

### 1. Python for else

In [2]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

Enter a name:SHANMUKH
SHANMUKH not found!

In [3]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

Enter a name:John
{'name': 'John', 'age': 25}

### 2. Python while else

In [4]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

Enter a fruit:lemon
Enter the qty for lemon:40
[{'fruit': 'apple', 'qty': 20}, {'fruit': 'banana', 'qty': 30}, {'fruit': 'orange', 'qty': 10}, {'fruit': 'lemon', 'qty': 40}]

In [5]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

Enter a fruit:apple
The basket has 20 apple(s)

### 3. Python do…while Loop Statement Emulation

In [2]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

# The first attempt
input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

# From the second attempt
while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

Enter a number between 0 and 10:1
It should be bigger.
Enter a number between 0 and 10:10
It should be smaller.
Enter a number between 0 and 10:5
It should be smaller.
Enter a number between 0 and 10:4
Bingo! 4 attempt(s)

In [1]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

Enter a number between 0 and 10:1
It should be bigger.
Enter a number between 0 and 10:5
It should be smaller.
Enter a number between 0 and 10:4
Bingo! 3 attempt(s)

## 10. More on Python functions

### 1. Python Unpacking Tuple

In [3]:
x, y = (1, 2)

In [4]:
x, y

(1, 2)

In [6]:
x, y ,z = 10, 20, 30
x,y,z

(10, 20, 30)

In [7]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

### Using unpacking tuple to swap values of two variables

In [8]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [9]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

### ValueError: too many values to unpack

In [10]:
x, y = 10, 20, 30

ValueError: too many values to unpack (expected 2)

In [12]:
x, y, _ = 10, 20, 30
x,y

(10, 20)

### Extended unpacking using the * operator

In [15]:
r, g, *other = (192, 210, 100, 0.5)
other

[100, 0.5]

In [16]:
x, y, *z, *t = (10, 20, 30, '10:30')

SyntaxError: multiple starred expressions in assignment (3014806510.py, line 1)

### Using the * operator on the right hand side

In [17]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

In [18]:
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

### 2. Python *args

In [19]:
def add(x, y):
    return x + y


add(10, 20)

30

In [20]:
x, y, *z = 10, 20, 30, 40

print(x)
print(y)
print(z)

10
20
[30, 40]

In [21]:
def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

### Introduction to the Python *args parameter

In [22]:
def add(*args):
    print(type(args))
    print(args)

add()

<class 'tuple'>
()

In [23]:
def add(*args):
    print(args[0])
    print(args[1])
    print(args[2])


add(1, 2, 3)

1
2
3

In [24]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

### Python *args argument exhausts positional arguments

In [25]:
def add(x, y, *args, z):
    return x + y + sum(args) + z


add(10, 20, 30, 40, 50)

TypeError: add() missing 1 required keyword-only argument: 'z'

In [26]:
def add(x, y, *args, z):
    return x + y + sum(args) + z


add(10, 20, 30, 40, z=50)

150

### Unpacking arguments

In [27]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

### 3. Python **kwargs

In [28]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

In [30]:
def connect(fn, **kwargs):
    print(kwargs)

In [31]:
def connect(**kwargs, fn):
    print(kwargs)

SyntaxError: invalid syntax (4199935713.py, line 1)

#### Using both *args and **kwargs arguments

In [32]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

In [33]:
fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

### 4. Python Partial Functions

In [34]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)

20

#### Python partial function from functools module

In [35]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

#### Python partial functions and variables

In [36]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

In [37]:
f = partial(multiply, x)

### 5.Python Type Hints

In [38]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [39]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [40]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

In [41]:
Using a static type checker tool: mypy

SyntaxError: invalid syntax (2128863509.py, line 1)

In [42]:
pip instal mypy

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "instal" - maybe you meant "install"

In [43]:
mypy app.py

SyntaxError: invalid syntax (839540321.py, line 1)

#### Type hinting & type inference

In [44]:
name: str = 'Hello'
name = 100

#### Adding type hints for multiple types

In [45]:
def add(x, y):
    return x + y

In [46]:
from typing import Union

In [47]:
def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

In [60]:
from typing import Union


def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

In [61]:
def add(x: int | float, y: int | float) -> int | float:
    return x + y

TypeError: unsupported operand type(s) for |: 'type' and 'type'

#### Type aliases

In [62]:
from typing import Union

number = Union[int, float]


def add(x: number, y: number) -> number:
    return x + y
add(1,1)

2

#### Adding type hints for lists, dictionaries, and sets

In [63]:
ratings: list = [1, 2, 3]
ratings = {1: 'Bad', 2: 'average', 3: 'Good'}

In [64]:
from typing import List

ratings: List[int] = [1, 2, 3]

In [66]:
def log(message: str) -> None:
    print(message)
log("hello")

hello