# Learn the basics

## 1. Hello World

In [1]:
print("hello professor my name is shanmukh varma rudraraju")

hello professor my name is shanmukh varma rudraraju

In [3]:
x=1
if x == 1:
    print("x equal to 1")

x equal to 1

In [4]:
print("Goodbye,Professor")

Goodbye,Professor

## 2. Variables and Types

In [5]:
my_int = 18 #integer
print(f"defined integer is {my_int}")

defined integer is 18

In [6]:
my_float = 18.0 #float
print(my_float)
my_float = float(16)
print(my_float)

18.0
16.0

In [7]:
my_string = 'hello everyone' #String
print(my_string)
my_string = "hello everyone my name is shanmukh"
print(my_string)

hello everyone
hello everyone my name is shanmukh

In [8]:
mystring = "Don't worry about apostrophes" # For using apostrophes we need to use double quotations
print(mystring)

Don't worry about apostrophes

In [15]:
#this wont work
one = 1
two = 2
three = one + two
print(three)

hello = "hello world"
world = "my name is shanmukh"
hello_world = hello + " " + world # adding two strings
print(hello_world)

3
hello world my name is shanmukh

In [16]:
a, b = 3, 4 
print(f"a is {a}, b is {b}")

a is 3, b is 4

In [20]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
# this will work now

one = str(1)
two = str(2)
hello = "hello"

print(one + two + hello)

12hello

### Exercise: The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [30]:
# change this code
my_string = "Hello my name is shanmukh"
my_float = 10.0
my_int = 20

# testing code
if my_string == "hello":
    print("String: %s" % my_string)
if isinstance(my_float, float) and my_float == 10.0:
    print("Float: %f" % myfloat)
if isinstance(my_int, int) and my_int == 20:
    print("Integer: %d" % myint)

Float: 10.000000
Integer: 20

## 3. Lists

In [31]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list[0]) # prints 1
print(my_list[1]) # prints 2
print(my_list[2]) # prints 3

# prints out 1,2,3
for x in my_list:
    print(x)

1
2
3
1
2
3

In [33]:
mylist = [1,2,3]
print(mylist[10]) # index number 10 doesn't exist

IndexError: list index out of range

In [36]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = names[1]
numbers.append(1)
numbers.append(2)
numbers.append(3)


strings.append("shanmukh")
strings.append("Varma")



# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['shanmukh', 'Varma']
The second name on the names list is Eric

## 4. Basic Operators

In [37]:
number = 1 + 2 * 3 / 4.0 # Arthimetic
print(number)

2.5

In [38]:
remainder = 11 % 3 # reminder
print(remainder)

2

In [40]:
squared = 7 ** 2 # square
cubed = 2 ** 3   # cube
print(squared)
print(cubed)

49
8

In [42]:
hello_world = "hello" + " " + "world" # adding string using addition operator
print(hello_world)

hello world

In [44]:
lots_of_hellos = "hello" * 10 # multiplying a string
print(lots_of_hellos)

hellohellohellohellohellohellohellohellohellohello

In [46]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers # creating a single list by adding two lists
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [49]:
print([1,2,3] * 3) # multipying a list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Exercise: The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created.

In [51]:
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

## 5. Strings formatting

In [52]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [53]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [55]:
# This prints out: A list: [1, 2, 3]
my_list = [1,2,3]
print("My list: %s" % my_list)

My list: [1, 2, 3]

### Exercise:You will need to write a format string which prints out the data using the following syntax: Hello John Doe. Your current balance is $53.44.

In [58]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

## 6. Basic String Operations

In [59]:
astring = "Hello world!"
astring2 = 'Hello world!'

In [60]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [61]:
astring = "Hello world!"
print(astring.index("o"))

4

In [62]:
astring = "Hello world!"
print(astring.count("l"))

3

In [63]:
astring = "Hello world!"
print(astring[3:7])

lo w

In [64]:
astring = "Hello world!"
print(astring[3:7:2])

l

In [65]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

In [66]:
astring = "Hello world!"
print(astring[::-1]) # reversing a string

!dlrow olleH

In [67]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [69]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))
print(astring.endswith("world!"))

True
False
True

In [72]:
astring = "Hello world!"
astring_spilt = astring.split(" ")
print(astring_spilt)

['Hello', 'world!']

### Exercise: Try to fix the code to print out the correct information by changing the string.

In [75]:
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The characters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

In [74]:
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The characters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

## 7.Conditions

In [76]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [80]:
name = "shanmukh"
age = 25
if name == "shanmukh" and age == 25:
    print("Your name is Shanmukh, and you are also 25 years old.")

if name == "shanmukh" or name == "Rick":
    print("Your name is either Shanmukh or Rick.")

Your name is Shanmukh, and you are also 25 years old.
Your name is either Shanmukh or Rick.

In [81]:
name = "shanmukh"
if name in ["shanmukh", "Rick"]:
    print("Your name is either shanmukh or Rick.")

Your name is either shanmukh or Rick.

In [82]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [83]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [87]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

True
False

In [88]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

### Exercise:Change the variables in the first section, so that each if statement resolves as True.

In [92]:
# change this code
number = 20
second_number = 0
first_array = [1,2]
second_array = [1,2,3]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 3:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

## 8. Loops

In [93]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [94]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
3
4
5
3
5
7

In [95]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [98]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    else: 
        print(x)

0
1
2
3
4
1
3
5
7
9

In [99]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

0
1
2
3
4
count value reached 5
1
2
3
4

### Exercise:Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [106]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
    if number == 237:
        break

    if number % 2 == 0:
        print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

## 9. Functions

In [107]:
def my_function():
    print("Hello From My Function!")

In [110]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))
my_function_with_args("shanmukh","Good Afternoon")

Hello, shanmukh , From My Function!, I wish you Good Afternoon

In [112]:
def sum_two_numbers(a, b):
    return a + b
print(sum_two_numbers(1,11))

12

In [114]:
# Define our 3 functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s, From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

# print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

# after this line x will hold the value 3!
x = sum_two_numbers(1,2)
print(x)

Hello From My Function!
Hello, John Doe, From My Function!, I wish you a great year!
3

### Exercise
In this exercise you'll use an existing function, and while adding your own to create a fully functional program.

Add a function named list_benefits() that returns the following list of strings: "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

Add a function named build_sentence(info) which receives a single argument containing a string and returns a sentence starting with the given string and ending with the string " is a benefit of functions!"

Run and see all the functions work together!

In [121]:
# Modify this function to return a list of strings as defined above
def list_benefits():
    return "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

# Modify this function to concatenate to each benefit - " is a benefit of functions!"
def build_sentence(benefit):
    return "%s is a benefit of functions!" % benefit


def name_the_benefits_of_functions():
    list_of_benefits = list_benefits()
    for benefit in list_of_benefits:
        print(build_sentence(benefit))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

## 10. Classes and Objects

In [122]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.variable

'blah'

In [123]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

print(myobjectx.variable)

blah

In [124]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [125]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.function()

This is a message inside the class.

In [126]:
class NumberHolder:

   def __init__(self, number):
       self.number = number

   def returnNumber(self):
       return self.number

var = NumberHolder(7)
print(var.returnNumber()) #Prints '7'

7

### Exercise
We have a class defined for vehicles. Create two new vehicles called car1 and car2. Set car1 to be a red convertible worth $60,000.00 with a name of Fer, and car2 to be a blue van named Jump worth $10,000.00.

In [131]:
# define the Vehicle class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

# your code goes here
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# test code
print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

## 11. Dictionaries

In [132]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [133]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [134]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [135]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [136]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

### Exercise
Add "Jake" to the phonebook with the phone number 938273443, and remove Jill from the phonebook.

In [137]:
phonebook = {  
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}  
# your code goes here
phonebook['Jake'] = 938273443
del phonebook["Jill"]
# testing code
if "Jake" in phonebook:  
    print("Jake is listed in the phonebook.")
    
if "Jill" not in phonebook:      
    print("Jill is not listed in the phonebook.")

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

## 12. Modules and Packages

### Exercise
In this exercise, print an alphabetically sorted list of all the functions in the re module containing the word find.

In [140]:
import re

# Your code goes here
find_members = []
for member in dir(re):
    if "find" in member:
        find_members.append(member)

print(sorted(find_members))

['findall', 'finditer']